= link_to( new_project_pages_path, class: 'btn', rel: 'tooltip', title: t('tooltips.new')) do
  %i.icon-plus


%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Name
    %th Content
  - @projects.each do |page|
    %tr
      %td= page.name
      %td= page.content
      %td= link_to 'Göster', project_pages, :class => 'btn btn-primary'
      %td= link_to 'Düzenle', edit_project_pages_path(page), :class => 'btn btn-info'
      %td= link_to 'Sil', project_pages, :class => 'btn btn-danger', method: :delete, data: { confirm: 'Silmek istiyor musun?' }